<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>


<body>

    <%- include('../partials/nav.ejs') %>

    
    <div class="page">
        <h1>Welcome To My Personalised Bible Verses</h1>

        <div class="verses">
            <% if (verses.length > 0 ) { %>
                <% verses.map(verse => { %>

                    <div class="verse-content">

                        <a href="/verses/<%= verse._id%> ">
                            <h2><%= verse.book %><%=verse.chapter %>:<%= verse.verse %></h2>
                            <span><%= verse.text %></span>
                        </a>
                        <div class="action">
                            <a href="/verses/<%= verse.chapter %>/edit"><i class="material-icons">edit</i></a>
                            <i class="material-icons delBtn" data-doc="<%= verse._id %>" >delete</i>
                        </div>
                    </div>

               <% }) %>
            <% } %>
        </div>
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const delBtn = document.querySelectorAll('.material-icons.delBtn');
        
        delBtn.forEach(btn => {
            
            btn.addEventListener('click', (e) => {
                alert('are you sure you want to delete?')
                const verseId = e.target.dataset.doc
                const endpoint = `/verses/${verseId}`;
                
                fetch(endpoint, {
                    method: 'DELETE',
                })
                .then(res => {
                   return res.json();
                })
                .then(result => {
                    alert(result.message)
                    window.location.href = result.redirect
                })
                .catch(err => {
                    console.log('Error:', err)
                })
            })   
        })
    })
</script>
</html>