<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="page">

        <div class="my-verse">
            <h1><%= verse.chapter %>:<%= verse.verse %></h1>
            <p><%= verse.text %></p>

            <div style="display: flex; justify-content: space-between; align-items: center; width: 50%; margin: 10px auto;">

                <a href="/verses/<%= verse._id %>/edit" >
                    <i class="material-icons">edit</i>
                </a>
                <a href="/" style="color: gray; padding-left: 15px;">Back home</a>
            </div>
            
        </div>
       
    </div>
</body>
</html>